.App {
  height: 100vh;
  background-color: #7f75b3;
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    background-color: #bab4d7;
  }
  main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  canvas {
    background: #fff;
    height: 80%;
  }
}
